{% extends 'templates/myapp/adminlte.html' %}
{% block content %}
{% load static %}

<section class="content">

  <div class="row">
    <section class="col-lg-12">

      <div class="row">


        <div class="col-lg-12">
          <h2 class="page-header">Applying Different Linear Models to GDP vs Life Satisfaction</h2>
        </div>

        <div class="col-lg-6">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li><a href="#tab_1" data-toggle="tab"><i class="fa fa-file-excel-o" aria-hidden="true"></i> GDP Per Capta</a></li>
              <li><a href="#tab_2" data-toggle="tab"><i class="fa fa-file-excel-o" aria-hidden="true"></i> oecd bli 2015 </a></li>
              <li class="active"><a href="#tab_3" data-toggle="tab"><i class="fa fa-spinner" aria-hidden="true"></i> Data Set Pre-Processed</a></li>

            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="tab_1">
                <div class="table-responsive">
                  {{html_table_gdp | safe}}
                </div>
              </div>

              <div class="tab-pane" id="tab_2">
                <div class="table-responsive">
                  {{html_table_life_sat | safe}}
                </div>
              </div>

              <div class="tab-pane active" id="tab_3">
                <div class="table-responsive">
                  {{html_life_sat_gdp | safe}}
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="col-lg-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Plotted using Chart.js Lib</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <p class="text-info"><i class="fa fa-info-circle"></i>&nbsp Point the mouse over the points to see the name of the country in the graph.</p>
              <br>
              <div class="chart" >

                <canvas style="width:100%;" id="areaChart"></canvas>

              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>

      </div>
    </section>

    <section class="col-lg-12 connectedSortable">
     <div class="row">

      <div class="col-lg-5">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Graphs</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="box-body">

            <div class="row">

              <div class="col-lg-12">
                <img class="img-responsive" src="{% static file2.path %}" />
                <img class="img-responsive" src="{% static file3.path %}" />
              </div>


            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Predict Life Satisfaction</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="box-body">

            <div class="row">

              <div class="col-lg-12">

                <div class="form-group">
                  <input id="gdp_slider" type="text" value="20000" class="slider form-control" data-slider-min="0" data-slider-max="99999"
                  data-slider-step="0.5" data-slider-value="20000" data-slider-orientation="horizontal" data-slider-tooltip="show" data-slider-id="red">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="info-box">
                  <span class="info-box-icon bg-aqua"><i class="fa fa-map-marker"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">GDP Value</span>
                    <span class="info-box-number"><b id="gdp_value">20000</b></span>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="info-box">
                  <span class="info-box-icon bg-red"><i class="fa fa-smile-o"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Life Satisfaction</span>
                    <span class="info-box-number"><b id="ls_result"></b></span>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

      <div class="col-lg-7">

        <!-- BAR CHART -->
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Comparing Metrics</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="box-body">

            <table class="table table-striped">
              <tr>
                <th></th>
                <th>Linear Modelling</th>
                <th>Polynomial Modelling</th>
              </tr>
              <tr>
                <th style="color:#00c468;">MSE Score</th>
                <td>{{mse2}}</td>
                <td>{{mse_train}}</td>
              </tr>
              <tr>
                <th style="color:#00d2f7;">R2 Score</th>
                <td>{{r22}}</td>
                <td>{{r2_train}}</td>
              </tr>
            </table>
            <input type="hidden" id="mse2" value="{{mse2}}" />
            <input type="hidden" id="r22" value="{{r22}}" />
            <input type="hidden" id="mse1" value="{{mse_train}}" />
            <input type="hidden" id="r21" value="{{r2_train}}" />

            <div class="chart">
              <canvas id="barChart" style="height:230px"></canvas>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    <!--
        <div class="col-lg-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Plotted using Matplotlib Python</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <img style="height: 310px;text-align: center;" class="img-responsive" src="{% static file1.path %}" />
            </div>
          </div>
        </div>
      -->
    </div>
  </section>

</div>

</section>
{% endblock %}